*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
    height: 100vh; 
}
#particles.js{
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.question{
    display: flex;
    position:absolute;
    text-align: center;
    justify-content: center;
    width: 350px;
    padding:25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    font-size: 15px;
    color:rgb(255, 255, 255);
}
.oo{
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    width: 100px;
    padding: 10px;
    font-weight: 600;
    background-color: green;
    text-align: center;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-150%, -10%);
    cursor: pointer;
}
.oo:hover {
    opacity: 0.8;
}
.hindi{
    text-align: center;
    border: none;
    border-radius: 5px;
    width: 100px;
    padding: 10px;
    font-weight: 600;
    background-color: green;
    color: black;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -10%);
    cursor: pointer;
}
.hindi:hover {
    opacity: 0.8;
}
.yes{
    display: none;
}
@media screen and (max-width: 768px) {
    .question{
        text-align: center;
        align-items: center;
        width: 410px;
        font-size: 23px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -80%);
        position: absolute;
        display: flex;
    }
    .oo{
        text-align: center;
        align-items: center;
        width: 160px;
        font-size: 24px;
        top: 50%;
        left: 50%;
        transform: translate(-110%, 5%);
        position: absolute;
        display: flex;
        justify-content: center;
    }
    .hindi{
        text-align: center;
        align-items: center;
        width: 160px;
        font-size: 24px;
        top: 50%;
        left: 50%;
        transform: translate(0%, 5%);
        position: absolute;
        display: flex;
        justify-content: center;
    }
    .particles-js-canvas-el{
        display: flex;
        height: 100%;
        position: absolute;
    }
}
@media screen and (max-width: 425px) {
    .question{
        text-align: center;
        align-items: center;
        width: 350px;
        font-size: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -80%);
        position: absolute;
        display: flex;
    }
    .oo{
        text-align: center;
        align-items: center;
        width: 140px;
        font-size: 21px;
        top: 50%;
        left: 50%;
        transform: translate(-105%, 5%);
        position: absolute;
        display: flex;
        justify-content: center;
    }
    .hindi{
        text-align: center;
        align-items: center;
        width: 140px;
        font-size: 21px;
        top: 50%;
        left: 50%;
        transform: translate(0%, 5%);
        position: absolute;
        display: flex;
        justify-content: center;
    }
    .particles-js-canvas-el{
        display: flex;
        height: 100%;
        position: absolute;
      }
}
@media screen and (max-width: 375px) {
    .question{
        text-align: center;
        align-items: center;
        width: 310px;
        font-size: 17px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -80%);
        position: absolute;
        display: flex;
    }
    .oo{
        text-align: center;
        align-items: center;
        width: 120px;
        font-size: 18px;
        top: 50%;
        left: 50%;
        transform: translate(-105%, 5%);
        position: absolute;
        display: flex;
        justify-content: center;
    }
    .hindi{
        text-align: center;
        align-items: center;
        width: 120px;
        font-size: 18px;
        top: 50%;
        left: 50%;
        transform: translate(0%, 5%);
        position: absolute;
        display: flex;
        justify-content: center;
    }
    .particles-js-canvas-el{
        display: flex;
        height: 100%;
        position: absolute;
    }
}
@media only screen and (max-width: 320px){
    .question{
        text-align: center;
        align-items: center;
        width: 260px;
        font-size: 14px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -80%);
        position: absolute;
        display: flex;
    }
    .oo{
        text-align: center;
        align-items: center;
        width: 100px;
        font-size: 15px;
        top: 50%;
        left: 50%;
        transform: translate(-105%, 5%);
        position: absolute;
        display: flex;
        justify-content: center;
    }
    .hindi{
        text-align: center;
        align-items: center;
        width: 100px;
        font-size: 15px;
        top: 50%;
        left: 50%;
        transform: translate(0%, 5%);
        position: absolute;
        display: flex;
        justify-content: center;
    }
    .particles-js-canvas-el{
        display: flex;
        height: 100%;
        position: absolute;
    }
}
