*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
#particles.js{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.out{
    color:rgb(255, 255, 255);
    position: absolute;
    font-size: 20px;
    width: 800px;
    padding: 25px;
    text-align: center;
    margin-top: 260px;
    margin-left: 360px;
    display: flex;
}
@media screen and (max-width: 768px) {
    .out{
        text-align: center;
        width: 710px;
        font-size: 24px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }
    .particles-js-canvas-el{
        display: flex;
        position: absolute;
      }
}
@media screen and (max-width: 425px) {
    .out{
        text-align: center;
        width: 400px;
        font-size: 21px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }
    .particles-js-canvas-el{
        display: flex;
        position: absolute;
      }
}
@media screen and (max-width: 375px) {
    .out{
        text-align: center;
        width: 350px;
        font-size: 18px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        display: flex;
    }
    .particles-js-canvas-el{
        display: flex;
        position: absolute;
    }
}
@media only screen and (max-width: 320px){
    .out{
        text-align: center;
        width: 300px;
        font-size: 15px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }
    .particles-js-canvas-el{
        display: flex;
        position: absolute;
    }
}
