*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
#particles.js{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.out{
    color:rgb(255, 255, 255);
    position: absolute;
    font-size: 20px;
    width: 800px;
    padding: 25px;
    text-align: center;
    margin-top: 260px;
    margin-left: 360px;
    display: flex;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
    .out{
    width: 300px;
        text-align: center;
        align-items: center;
        display: flex;
        font-size: 15px;
        margin-left: 10px;
    }
    .particles-js-canvas-el{
      display: none;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .out{
        text-align: center;
        align-items: center;
        display: flex;
        font-size: 9px;
        margin-left: 5px;
    }
    .particles-js-canvas-el{
      display: none;
    }
}
