*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
#particles.js{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("image/bg.jpg");
}
.yes{
    display: none;
}
.question{
    color:rgb(255, 255, 255);
    position: absolute;
    font-size: 15px;
    border-style:groove;
    width: 330px;
    padding: 25px;
    text-align: center;
    margin-top: 240px;
    margin-left: 500px;
    display:block;
}
.oo{
    border: none;
    border-radius: 5px;
    width: 100px;
    padding: 10px;
    font-weight: 600;
    background-color: green;
    color: black;
    margin-top: 10px;
    cursor: pointer;
}
.oo:hover {
    opacity: 0.8;
}
.hindi{
    border: none;
    border-radius: 5px;
    width: 100px;
    padding: 10px;
    font-weight: 600;
    background-color: green;
    color: black;
    cursor: pointer;
}
.hindi:hover {
    opacity: 0.8;
}